
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
/* Typography */

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

html,
body,
main {
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Comfortaa", Arial, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
}

.flex {
    display: flex;
}
.row {
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.column {
    flex-flow: column nowrap;
}

.container {
    padding: .5rem;
}

.governors.container,
.colony-minerals.container {
    height: 100%;
}

.bottom-section > .container {
    width: 30%;
}
.top-section > .row > .container {
    width: 50%;
    height: 100%;
}
.top-section > .row {
    height: 100%;
    color: #F4FFD9;
}
.text-center {
    text-align: center
}

.header {
    justify-content: center;
    align-content: center;
    color: #F4FFD9;
    font-size: 1.5rem;
    height: 40%;
    padding: 0 0 0 0;
}
.header.row {
    height: 30%;
}
.header > .content {
    height: 50%
}

.bottom-section,
.top-section,
main.main.container,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.bottom-section {
    background-color: #F4FFD9;
    height: 65%;
    color: #363b74
}
.top-section {
    background-color: #414BB2;
    height: 35%
}

.governors {

}
.colony-minerals {

}
.facility-minerals {

}

button {
    background-color: hotpink;
    color: white;
    font-weight:bolder;
}

button:disabled {
    background-color: rgb(160, 113, 137);
    color: rgb(182, 174, 174);
    font-weight:bolder;
    font-style: italic;
}
